<?xml version="1.0" encoding="utf-8"?>
<!--
/*   == This file is part of Tomahawk Player - <http://tomahawk-player.org> ===
 *
 *   Copyright 2012, Christopher Reichert <creichert07@gmail.com>
 *
 *   Tomahawk is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   Tomahawk is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with Tomahawk. If not, see <http://www.gnu.org/licenses/>.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.tomahawk.tomahawk_android"
          android:versionCode="0160"
          android:versionName="0.16">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.DUMP"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:xlargeScreens="true"/>

    <application
            android:name="org.tomahawk.tomahawk_android.TomahawkApp"
            android:icon="@drawable/ic_launcher"
            android:label="@string/appname_string"
            android:theme="@style/Theme.tomahawk.nativeandroid"
            android:allowBackup="true">

        <activity
                android:name="org.tomahawk.tomahawk_android.TomahawkMainActivity"
                android:label="@string/mainactivity_title_string"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="org.tomahawk.libtomahawk.audio.PlaybackActivity"
                android:label="@string/playbackfragment_title_string">
        </activity>

        <activity
                android:name="org.tomahawk.tomahawk_android.CollectionActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/mainactivity_title_string"
                android:launchMode="singleTop"
                android:uiOptions="splitActionBarWhenNarrow">
        </activity>

        <activity
                android:name="org.tomahawk.tomahawk_android.SearchableActivity"
                android:label="@string/searchactivity_title_string"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <activity
                android:name="org.tomahawk.tomahawk_android.SettingsActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/settingsactivity_title_string"
                android:launchMode="singleTop">
        </activity>

        <service
                android:name="org.tomahawk.libtomahawk.audio.PlaybackService"
                android:label="@string/playbackservice_label_string"
                android:stopWithTask="true">
        </service>

        <service
                android:name="org.tomahawk.libtomahawk.network.TomahawkAccountAuthenticator$TomahawkAuthenticationService">
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>

        <activity
                android:name="org.tomahawk.tomahawk_android.TomahawkAccountAuthenticatorActivity"
                android:label="@string/appname_string">
        </activity>

        <activity
                android:name="org.tomahawk.tomahawk_android.TomahawkAccountPreferenceActivity"
                android:configChanges="keyboardHidden|orientation">
        </activity>

        <service
                android:name="org.tomahawk.libtomahawk.network.TomahawkService"
                android:label="@string/appname_string">
        </service>

        <activity
                android:name="org.tomahawk.tomahawk_android.TomahawkPlaybackSettingsActivity"
                android:label="@string/playbacksettingsactivity_title_string"
                android:launchMode="singleTop">
        </activity>

        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@style/Theme.Sherlock.Dialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true"/>
    </application>

</manifest>
