<?xml version="1.0" encoding="utf-8"?>
<!--
/*   == This file is part of Tomahawk Player - <http://tomahawk-player.org> ===
 *
 *   Copyright 2012, Christopher Reichert <creichert07@gmail.com>
 *   Copyright 2013, Enno Gottschalk <mrmaffen@googlemail.com>
 *
 *   Tomahawk is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   Tomahawk is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with Tomahawk. If not, see <http://www.gnu.org/licenses/>.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.tomahawk.tomahawk_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Keep wifi from getting disabled while streaming music -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Add the log output to the crash report -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- Manage Hatchet account. Get Google account token for Play Music -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:xlargeScreens="true"/>

    <application
            android:name="org.tomahawk.tomahawk_android.TomahawkApp"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:allowBackup="true"
            android:theme="@style/Theme.Tomahawk">

        <activity
                android:name=".activities.TomahawkMainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustPan"
                android:theme="@style/Theme.Tomahawk.Transparent.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="www.hatchet.is"/>
                <data android:host="hatchet.is"/>
                <data android:pathPattern="/music/.*"/>
                <data android:pathPattern="/people/.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="listen.beatsmusic.com"/>
                <data android:host="on.beatsmusic.com"/>
                <data android:pathPattern="/albums/.*"/>
                <data android:pathPattern="/artists/.*"/>
                <data android:pathPattern="/tracks/.*"/>
                <data android:pathPattern="/playlists/.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="www.deezer.com"/>
                <data android:host="deezer.com"/>
                <data android:pathPattern="/album/.*"/>
                <data android:pathPattern="/artist/.*"/>
                <data android:pathPattern="/track/.*"/>
                <data android:pathPattern="/playlist/.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="www.rdio.com"/>
                <data android:host="rdio.com"/>
                <data android:pathPattern="/artist/.*"/>
                <data android:pathPattern="/people/.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="www.soundcloud.com"/>
                <data android:host="m.soundcloud.com"/>
                <data android:host="soundcloud.com"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="www.toma.hk"/>
                <data android:host="toma.hk"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="play.spotify.com"/>
                <data android:host="open.spotify.com"/>
                <data android:host="spotify.com"/>
                <data android:pathPattern="/artist/.*"/>
                <data android:pathPattern="/album/.*"/>
                <data android:pathPattern="/track/.*"/>
                <data android:pathPattern="/user/.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="spotify"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="tomahawk"/>
                <data android:host="play"/>
                <data android:host="queue"/>
                <data android:host="view"/>
                <data android:pathPattern="/track.*"/>
                <data android:pathPattern="/add/track.*"/>
                <data android:pathPattern="/artist.*"/>
                <data android:pathPattern="/album.*"/>
            </intent-filter>
            <!-- This filter captures protocols without type info -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_MUSIC"/>

                <data android:scheme="rtmp" />
                <data android:scheme="rtmpe" />
                <data android:scheme="rtmps" />
                <data android:scheme="rtp" />
                <data android:scheme="rtsp" />
                <data android:scheme="mms" />
                <data android:scheme="mmsh" />
                <data android:scheme="icyx" />
                <data android:scheme="httplive" />
                <data android:scheme="udp" />
                <data android:scheme="vlc" />
            </intent-filter>
            <!-- This filter captures protocols with type info -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_MUSIC"/>

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="rtmp" />
                <data android:scheme="rtmpe" />
                <data android:scheme="rtmps" />
                <data android:scheme="rtp" />
                <data android:scheme="rtsp" />
                <data android:scheme="mms" />
                <data android:scheme="mmsh" />
                <data android:scheme="icyx" />
                <data android:scheme="httplive" />
                <data android:scheme="udp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_MUSIC"/>

                <data android:scheme="" />
                <data android:scheme="file" />
                <data android:scheme="ftp" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="*/rmvb" />
                <data android:mimeType="*/avi" />
                <data android:mimeType="*/mkv" />
                <data android:mimeType="application/3gpp*" />
                <data android:mimeType="application/mp4" />
                <data android:mimeType="application/mpeg*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="application/vnd.3gp*" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/vnd.dvd*" />
                <data android:mimeType="application/vnd.dolby*" />
                <data android:mimeType="application/vnd.rn-realmedia*" />
                <data android:mimeType="application/x-iso9660-image" />
                <data android:mimeType="application/x-extension-mp4" />
                <data android:mimeType="application/x-flac" />
                <data android:mimeType="application/x-matroska" />
                <data android:mimeType="application/x-mpegURL" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/x-quicktimeplayer" />
                <data android:mimeType="application/x-shockwave-flash" />
                <data android:mimeType="application/xspf+xml" />
                <data android:mimeType="misc/ultravox" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_MUSIC"/>

                <data android:scheme="" />
                <data android:scheme="file" />
                <data android:scheme="ftp" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />

                <!-- video -->

                <data android:pathPattern=".*\\.3g2" />
                <data android:pathPattern=".*\\.3gp" />
                <data android:pathPattern=".*\\.3gp2" />
                <data android:pathPattern=".*\\.3gpp" />
                <data android:pathPattern=".*\\.amv" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.divx" />
                <data android:pathPattern=".*\\.drc" />
                <data android:pathPattern=".*\\.dv" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.gvi" />
                <data android:pathPattern=".*\\.gxf" />
                <data android:pathPattern=".*\\.ismv" />
                <data android:pathPattern=".*\\.iso" />
                <data android:pathPattern=".*\\.m1v" />
                <data android:pathPattern=".*\\.m2v" />
                <data android:pathPattern=".*\\.m2t" />
                <data android:pathPattern=".*\\.m2ts" />
                <!-- <data android:pathPattern=".*\\.m3u" /> -->
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.mp2" />
                <data android:pathPattern=".*\\.mp2v" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mp4v" />
                <data android:pathPattern=".*\\.mpe" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpeg1" />
                <data android:pathPattern=".*\\.mpeg2" />
                <data android:pathPattern=".*\\.mpeg4" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.mpv2" />
                <data android:pathPattern=".*\\.mts" />
                <data android:pathPattern=".*\\.mtv" />
                <data android:pathPattern=".*\\.mxf" />
                <data android:pathPattern=".*\\.mxg" />
                <data android:pathPattern=".*\\.nsv" />
                <data android:pathPattern=".*\\.nut" />
                <data android:pathPattern=".*\\.nuv" />
                <data android:pathPattern=".*\\.ogm" />
                <data android:pathPattern=".*\\.ogv" />
                <data android:pathPattern=".*\\.ogx" />
                <data android:pathPattern=".*\\.ps" />
                <data android:pathPattern=".*\\.rec" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.rmvb" />
                <data android:pathPattern=".*\\.tod" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.tts" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.vro" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathPattern=".*\\.wm" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.wtv" />
                <data android:pathPattern=".*\\.xesc" />
                <data android:pathPattern=".*\\.3G2" />
                <data android:pathPattern=".*\\.3GP" />
                <data android:pathPattern=".*\\.3GP2" />
                <data android:pathPattern=".*\\.3GPP" />
                <data android:pathPattern=".*\\.AMV" />
                <data android:pathPattern=".*\\.ASF" />
                <data android:pathPattern=".*\\.AVI" />
                <data android:pathPattern=".*\\.DIVX" />
                <data android:pathPattern=".*\\.DRC" />
                <data android:pathPattern=".*\\.DV" />
                <data android:pathPattern=".*\\.F4V" />
                <data android:pathPattern=".*\\.FLV" />
                <data android:pathPattern=".*\\.GVI" />
                <data android:pathPattern=".*\\.GXF" />
                <data android:pathPattern=".*\\.ISMV" />
                <data android:pathPattern=".*\\.ISO" />
                <data android:pathPattern=".*\\.M1V" />
                <data android:pathPattern=".*\\.M2V" />
                <data android:pathPattern=".*\\.M2T" />
                <data android:pathPattern=".*\\.M2TS" />
                <!-- <data android:pathPattern=".*\\.M3U" /> -->
                <data android:pathPattern=".*\\.M3U8" />
                <data android:pathPattern=".*\\.MKV" />
                <data android:pathPattern=".*\\.MOV" />
                <data android:pathPattern=".*\\.MP2" />
                <data android:pathPattern=".*\\.MP2V" />
                <data android:pathPattern=".*\\.MP4" />
                <data android:pathPattern=".*\\.MP4V" />
                <data android:pathPattern=".*\\.MPE" />
                <data android:pathPattern=".*\\.MPEG" />
                <data android:pathPattern=".*\\.MPEG1" />
                <data android:pathPattern=".*\\.MPEG2" />
                <data android:pathPattern=".*\\.MPEG4" />
                <data android:pathPattern=".*\\.MPG" />
                <data android:pathPattern=".*\\.MPV2" />
                <data android:pathPattern=".*\\.MTS" />
                <data android:pathPattern=".*\\.MTV" />
                <data android:pathPattern=".*\\.MXF" />
                <data android:pathPattern=".*\\.MXG" />
                <data android:pathPattern=".*\\.NSV" />
                <data android:pathPattern=".*\\.NUT" />
                <data android:pathPattern=".*\\.NUV" />
                <data android:pathPattern=".*\\.OGM" />
                <data android:pathPattern=".*\\.OGV" />
                <data android:pathPattern=".*\\.OGX" />
                <data android:pathPattern=".*\\.PS" />
                <data android:pathPattern=".*\\.REC" />
                <data android:pathPattern=".*\\.RM" />
                <data android:pathPattern=".*\\.RMVB" />
                <data android:pathPattern=".*\\.TOD" />
                <data android:pathPattern=".*\\.TS" />
                <data android:pathPattern=".*\\.TTS" />
                <data android:pathPattern=".*\\.VOB" />
                <data android:pathPattern=".*\\.VRO" />
                <data android:pathPattern=".*\\.WEBM" />
                <data android:pathPattern=".*\\.WM" />
                <data android:pathPattern=".*\\.WMV" />
                <data android:pathPattern=".*\\.WTV" />
                <data android:pathPattern=".*\\.XESC" />

                <!-- audio -->

                <data android:pathPattern=".*\\.3ga" />
                <data android:pathPattern=".*\\.a52" />
                <data android:pathPattern=".*\\.aac" />
                <data android:pathPattern=".*\\.ac3" />
                <data android:pathPattern=".*\\.adt" />
                <data android:pathPattern=".*\\.adts" />
                <data android:pathPattern=".*\\.aif" />
                <data android:pathPattern=".*\\.aifc" />
                <data android:pathPattern=".*\\.aiff" />
                <data android:pathPattern=".*\\.amr" />
                <data android:pathPattern=".*\\.aob" />
                <data android:pathPattern=".*\\.ape" />
                <data android:pathPattern=".*\\.awb" />
                <data android:pathPattern=".*\\.caf" />
                <data android:pathPattern=".*\\.dts" />
                <data android:pathPattern=".*\\.flac" />
                <data android:pathPattern=".*\\.it" />
                <data android:pathPattern=".*\\.m4a" />
                <data android:pathPattern=".*\\.m4b" />
                <data android:pathPattern=".*\\.m4p" />
                <data android:pathPattern=".*\\.mid" />
                <data android:pathPattern=".*\\.mka" />
                <data android:pathPattern=".*\\.mlp" />
                <data android:pathPattern=".*\\.mod" />
                <data android:pathPattern=".*\\.mpa" />
                <data android:pathPattern=".*\\.mp1" />
                <data android:pathPattern=".*\\.mp2" />
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\.mpc" />
                <data android:pathPattern=".*\\.mpga" />
                <data android:pathPattern=".*\\.oga" />
                <data android:pathPattern=".*\\.ogg" />
                <data android:pathPattern=".*\\.oma" />
                <data android:pathPattern=".*\\.opus" />
                <data android:pathPattern=".*\\.ra" />
                <data android:pathPattern=".*\\.ram" />
                <data android:pathPattern=".*\\.rmi" />
                <data android:pathPattern=".*\\.s3m" />
                <data android:pathPattern=".*\\.spx" />
                <data android:pathPattern=".*\\.tta" />
                <data android:pathPattern=".*\\.voc" />
                <data android:pathPattern=".*\\.vqf" />
                <data android:pathPattern=".*\\.w64" />
                <data android:pathPattern=".*\\.wav" />
                <data android:pathPattern=".*\\.wma" />
                <data android:pathPattern=".*\\.wv" />
                <data android:pathPattern=".*\\.xa" />
                <data android:pathPattern=".*\\.xm" />
                <data android:pathPattern=".*\\.3GA" />
                <data android:pathPattern=".*\\.A52" />
                <data android:pathPattern=".*\\.AAC" />
                <data android:pathPattern=".*\\.AC3" />
                <data android:pathPattern=".*\\.ADT" />
                <data android:pathPattern=".*\\.ADTS" />
                <data android:pathPattern=".*\\.AIF" />
                <data android:pathPattern=".*\\.AIFC" />
                <data android:pathPattern=".*\\.AIFF" />
                <data android:pathPattern=".*\\.AMR" />
                <data android:pathPattern=".*\\.AOB" />
                <data android:pathPattern=".*\\.APE" />
                <data android:pathPattern=".*\\.AWB" />
                <data android:pathPattern=".*\\.CAF" />
                <data android:pathPattern=".*\\.DTS" />
                <data android:pathPattern=".*\\.FLAC" />
                <data android:pathPattern=".*\\.IT" />
                <data android:pathPattern=".*\\.M4A" />
                <data android:pathPattern=".*\\.M4B" />
                <data android:pathPattern=".*\\.M4P" />
                <data android:pathPattern=".*\\.MID" />
                <data android:pathPattern=".*\\.MKA" />
                <data android:pathPattern=".*\\.MLP" />
                <data android:pathPattern=".*\\.MOD" />
                <data android:pathPattern=".*\\.MPA" />
                <data android:pathPattern=".*\\.MP1" />
                <data android:pathPattern=".*\\.MP2" />
                <data android:pathPattern=".*\\.MP3" />
                <data android:pathPattern=".*\\.MPC" />
                <data android:pathPattern=".*\\.MPGA" />
                <data android:pathPattern=".*\\.OGA" />
                <data android:pathPattern=".*\\.OGG" />
                <data android:pathPattern=".*\\.OMA" />
                <data android:pathPattern=".*\\.OPUS" />
                <data android:pathPattern=".*\\.RA" />
                <data android:pathPattern=".*\\.RAM" />
                <data android:pathPattern=".*\\.RMI" />
                <data android:pathPattern=".*\\.S3M" />
                <data android:pathPattern=".*\\.SPX" />
                <data android:pathPattern=".*\\.TTA" />
                <data android:pathPattern=".*\\.VOC" />
                <data android:pathPattern=".*\\.VQF" />
                <data android:pathPattern=".*\\.W64" />
                <data android:pathPattern=".*\\.WAV" />
                <data android:pathPattern=".*\\.WMA" />
                <data android:pathPattern=".*\\.WV" />
                <data android:pathPattern=".*\\.XA" />
                <data android:pathPattern=".*\\.XM" />

                <!-- playlists -->

                <data android:pathPattern=".*\\.xspf" />
                <data android:pathPattern=".*\\.XSPF" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.axe"/>
                <data android:pathPattern=".*\\..*\\.axe"/>
                <data android:pathPattern=".*\\..*\\..*\\.axe"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.axe"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.axe"/>
                <data android:pathPattern=".*\\.AXE"/>
                <data android:pathPattern=".*\\..*\\.AXE"/>
                <data android:pathPattern=".*\\..*\\..*\\.AXE"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.AXE"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.AXE"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.WebViewActivity"
                  android:theme="@style/Theme.Tomahawk"/>

        <meta-data android:name="com.google.android.gms.car.application"
                   android:resource="@xml/automotive_app_desc"/>

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>

        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon"
                   android:resource="@drawable/ic_notification"/>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".services.PlaybackService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <service
                android:name="org.tomahawk.libtomahawk.authentication.TomahawkAuthenticator$HatchetAuthenticationService">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <!-- This points to an XML file which describes our account service. -->
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator"/>
        </service>

        <service android:name=".services.RemoteControllerService"
                 android:label="Tomahawk Scrobbling Service"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
                 android:enabled="@bool/remotecontrollerservice_enabled">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <service
                android:name=".services.MicroService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="org.tomahawk.tomahawk_android.playstatechanged"/>
                <action android:name="org.tomahawk.tomahawk_android.authenticate"/>
                <action android:name="org.tomahawk.tomahawk_android.clearcreds"/>
                <action android:name="org.tomahawk.tomahawk_android.justscrobble"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.AndroidMusicReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.android.music.metachanged"/>
                <action android:name="com.android.music.playstatechanged"/>
                <action android:name="com.android.music.playbackcomplete"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.AndroidMusicJRTStudioBuildReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.jrtstudio.music.metachanged"/>
                <action android:name="com.jrtstudio.music.playstatechanged"/>
                <action android:name="com.jrtstudio.music.playbackcomplete"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.HeroMusicReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.htc.music.metachanged"/>
                <action android:name="com.htc.music.playbackcomplete"/>
                <action android:name="com.htc.music.playstatechanged"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.WinampMusicReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.nullsoft.winamp.metachanged"/>
                <action android:name="com.nullsoft.winamp.playbackcomplete"/>
                <action android:name="com.nullsoft.winamp.playstatechanged"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.MyTouch4GMusicReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.real.IMP.metachanged"/>
                <!-- don't know if these two works -->
                <action android:name="com.real.IMP.playbackcomplete"/>
                <action android:name="com.real.IMP.playstatechanged"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.MIUIMusicReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.miui.player.metachanged"/>
                <action android:name="com.miui.player.playstatechanged"/>
                <action android:name="com.miui.player.playbackcomplete"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.SEMCMusicReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action
                        android:name="com.sonyericsson.music.playbackcontrol.ACTION_PLAYBACK_PLAY"/>
                <action
                        android:name="com.sonyericsson.music.playbackcontrol.ACTION_PLAYBACK_PAUSE"/>
                <action android:name="com.sonyericsson.music.TRACK_COMPLETED"/>
                <action android:name="com.sonyericsson.music.metachanged"/>
                <action android:name="com.sonyericsson.music.playbackcomplete"/>
                <action android:name="com.sonyericsson.music.playstatechanged"/>

                <!-- from https://github.com/Ambroos/Xperia-Scrobbler-2013-Compatibility/ -->
                <action android:name="com.sonyericsson.music.playbackcontrol.ACTION_TRACK_STARTED"/>
                <action android:name="com.sonyericsson.music.playbackcontrol.ACTION_PAUSED"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.RdioMusicReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.rdio.android.playstatechanged"/>
                <action android:name="com.rdio.android.metachanged"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.SamsungMusicReceiver"
                android:exported="true"
                android:enabled="true">
            <!-- doesn't work -->
            <intent-filter>
                <action
                        android:name="com.samsung.sec.android.MusicPlayer.metachanged"/>
                <action
                        android:name="com.samsung.sec.android.MusicPlayer.playbackcomplete"/>
                <action
                        android:name="com.samsung.sec.android.MusicPlayer.playstatechanged"/>
                <action android:name="com.samsung.music.metachanged"/>
                <action android:name="com.samsung.music.playbackcomplete"/>
                <action android:name="com.samsung.music.playstatechanged"/>
                <action android:name="com.samsung.sec.metachanged"/>
                <action android:name="com.samsung.sec.playbackcomplete"/>
                <action android:name="com.samsung.sec.playstatechanged"/>
                <action android:name="com.samsung.sec.android.metachanged"/>
                <action android:name="com.samsung.sec.android.playbackcomplete"/>
                <action android:name="com.samsung.sec.android.playstatechanged"/>
                <action android:name="com.samsung.MusicPlayer.metachanged"/>
                <action android:name="com.samsung.MusicPlayer.playbackcomplete"/>
                <action android:name="com.samsung.MusicPlayer.playstatechanged"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.ScrobbleDroidMusicReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action
                        android:name="net.jjc1138.android.scrobbler.action.MUSIC_STATUS"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.SLSAPIReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.adam.aslfms.notify.playstatechanged"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.SpotifyReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.spotify.mobile.android.metadatachanged"/>
                <action android:name="com.spotify.mobile.android.playbackstatechanged"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.LgOptimus4xReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.lge.music.metachanged"/>
                <action android:name="com.lge.music.playstatechanged"/>
                <action android:name="com.lge.music.endofplayback"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.PlayerProReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.tbig.playerpro.playstatechanged"/>
                <action android:name="com.tbig.playerpro.metachanged"/>
                <action android:name="com.tbig.playerpro.playbackcomplete"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.PlayerProTrialReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.tbig.playerprotrial.playstatechanged"/>
                <action android:name="com.tbig.playerprotrial.metachanged"/>
                <action android:name="com.tbig.playerprotrial.playbackcomplete"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.DoubleTwistReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.doubleTwist.androidPlayer.playstatechanged"/>
                <action android:name="com.doubleTwist.androidPlayer.metachanged"/>
                <action android:name="com.doubleTwist.androidPlayer.playbackcomplete"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".receiver.RocketPlayerReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.jrtstudio.AnotherMusicPlayer.playstatechanged"/>
                <action android:name="com.jrtstudio.AnotherMusicPlayer.metachanged"/>
                <action android:name="com.jrtstudio.AnotherMusicPlayer.playbackcomplete"/>
            </intent-filter>
        </receiver>

        <activity android:name="org.acra.CrashReportDialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true"/>
    </application>

</manifest>
